@media screen and (max-width: 1200px)

	// header
	.header

		.header-img
			margin-top: 80px

	// numbers

	.numbers

		.numbers-img
			top: 100px
			left: 50%

		.numbers-item
			margin-bottom: 50px




@media screen and (max-width: 992px)

	.numbers

		.numbers-img
			top: 50px
			left: 40%


@media screen and (max-width: 768px)

	.numbers

		.numbers-img
			position: static
			display: block
			margin-bottom: 190px


@media screen and (max-width: 576px)

	.header

		.btn-video
			display: block
			margin-top: 30px