@import 'fonts'
@import 'vars'
@import url('../css/normalize.css')
@import url(../css/bootstrap-grid.min.css)

// GLOBAL STYLES

body
	font-family: 'Lato', sans-serif
	font-size: 16px
	color: $mainBlack



a
	text-decoration: none
	transition: all 0.3s

.btn
	display: inline-block
	background-color: $blue
	color: #fff
	padding: 20px 40px
	border-radius: 50px
	text-transform: uppercase
	transition: all 0.3s

	&:hover
		background-color: darken($blue, 10%)

.section-title
	text-align: center
	font-family: $raleway
	padding-top: 120px

	&__h
		display: inline-block
		font-size: 30px
		text-transform: uppercase
		font-weight: 800
		color: $mainBlack
		margin: 0
		margin-right: 40px
		position: relative

		&:after
			content: ''
			display: block
			height: 40px
			width: 1px
			background-color: $blue
			position: absolute
			top: 0
			right: -21px


	&__second-h
		font-size: 30px
		text-transform: uppercase
		font-weight: 300

	&__subtitle
		font-family: 'Lato', sans-serif
		font-weight: 300
		color: $secondColor
		margin-top: 25px


// HEADER
.header
	padding-bottom: 170px

.header-top
	border-bottom: 2px solid #dedede
	margin-bottom: 180px

	.header__logo
		padding: 30px 0
		max-width: 100%

	.header__menu-btn
		margin-right: 10px

		span
			display: block
			width: 35px
			height: 5px
			background-color: #525252
			margin-bottom: 5px
			border-radius: 5px


.header-title--container
	margin-left: 25px
	position: relative

	&:before
		content: ''
		display: block
		width: 5px
		height: 80%
		position: absolute
		top: 18px
		left: -30px
		background-color: $blue
		border-radius: 10px

.header__title
	font-family: $raleway
	font-weight: 900
	text-transform: uppercase
	color: $mainBlack
	font-size: 72px
	margin: 0
	padding-bottom: 10px
	position: relative





.header__subtitle
	font-family: $raleway
	font-size: 24px
	font-weight: 800
	color: $mainBlack

.header__text
	color: $secondColor
	font-weight: 300
	margin-top: 70px
	margin-bottom: 45px
	line-height: 24px

.header-img
	max-width: 100%
	

.btn-video
	margin-left: 28px
	text-transform: uppercase
	color: $mainBlack
	font-weight: bold

	&:hover
		color: $blue


// Numbers

.numbers
	background: linear-gradient( 130deg, rgb(15,8,22) 0%, rgb(24,16,33) 64%, rgb(33,23,43) 90%)
	padding: 120px 0
	position: relative

	.numbers-img
		position: absolute
		top: -120px
		left: 8%
		max-width: 100%

	.numbers-item

		&__number
			font-size: 72px
			color: #fff
			font-weight: 900
			padding-left: 20px
			display: flex
			align-items: center


			&:before
				content: ''
				display: block
				position: absolute
				width: 5px
				height: 50px
				border-radius: 5px
				background-color: $blue
				left: 15px

		&__name
			color: $blue
		
		&__per
			color: $secondColor

// features

.features
	background-color: #fafcfc


	.section-title
		margin-bottom: 75px

	.features-item
		padding: 0 30px 0 40px
		padding-bottom: 80px

		&:last-child
			margin-bottom: 120px
			padding-bottom: 0

		&:first-child
			margin-top: 60px

		&__title
			font-family: $raleway
			font-weight: 800
			text-transform: uppercase
			font-size: 20px
			margin: 0
			color: $mainBlack
			position: relative

			&:after
				content: ''
				display: block
				height: 35px
				width: 5px
				border-radius: 15px
				background-color: $blue
				position: absolute
				top: 0
				right: 0

		&__text
			color: $secondColor
			font-weight: 300
			line-height: 24px



	.features-item--left
		text-align: right

		.features-item__title
			padding-right: 30px
			margin-bottom: 40px

			

	.features-img
		height: 500px
		width: 100%
		background: url('../img/features-img.png') no-repeat top 
		background-size: 100%


	.features-item--right
		text-align: left

		.features-item__title
			padding-left: 30px
			margin-bottom: 40px

			&:after
				left: 0

// REALMAN

.realman
	padding-bottom: 120px
.realman-slider
	margin-top: 85px

	.slider-item
		display: flex
		align-items: center
		

		&__arrow
			width: 60px
			height: 60px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			border: 3px solid transparent

		&__arrow.arrow-left
			margin-right: auto
		&__arrow.arrow-right
			margin-left: auto

		&__before
			position: relative
			max-width: 265px
			height: 300px
			position: relative
			z-index: 10
			

			img
				width: 100%
				height: 100%

		&__after
			max-width: 360px
			height: 400px
			position: relative
			margin-left: -60px

			img
				width: 100%
				height: 100%

		&__info
			margin-left: 30px

			&_kg
				display: inline-block
				font-size: 16px
				font-weight: 300

				&:first-child
					margin-right: 30px

				&-number
					font-size: 40px
					font-weight: 800

				&-kg
					text-transform: uppercase

				&-desc
					color: $blue
					margin-top: 25px

			
			&_persone
				margin-top: 50px
				text-transform: uppercase
				position: relative
				padding-left: 22px
				
				&:before
					content: ''
					display: block
					width: 4px
					height: 100%
					border-radius: 30px
					background-color: $blue
					position: absolute
					top: 0
					left: 0px

				&-name
					font-weight: 800
					font-family: $raleway
				
				&-age
					font-weight: 300
		
		// СТИЛИЗАЦИЯ СЛАЙДЕРА

	.slick-arrow
		width: 60px
		height: 60px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		border: 3px solid #e4e8e9
		font-size: 0
		background-color: transparent
		position: absolute
		top: 50%
		margin-top: -30px
		outline: none
		cursor: pointer

	.slick-arrow.slick-next
		right: 0
		background: url('../img/slider-right.png') no-repeat center center

	.slick-arrow.slick-prev
		left: 0
		z-index: 10
		background: url('../img/slider-left.png') no-repeat center center

	.slick-slide
		outline: none

	.slick-dots
		list-style: none
		display: flex
		justify-content: center
		margin: 0 auto
		margin-top: 60px

		button
			font-size: 0
			width: 15px
			height: 15px
			padding: 0
			background-color: #e4e8e9
			border: none
			border-radius: 50%
			margin-right: 20px

		.slick-active

			button
				background-color: $blue
	

@import "media"